@inherits LayoutComponentBase

@layout MainLayout;

<MudText Align="Align.Center" Typo="Typo.h2" Color="Color.Primary">Animal Store</MudText>

<MudStack Row="true" Justify="Justify.Center" Spacing="10">
    <MudLink Href="/Pages/Lecture01/Solution/Home">Home</MudLink>
    <MudLink Href="/Pages/Lecture01/Solution/Animals">Animals</MudLink>
    <MudLink Href="#">Contact Us</MudLink>
</MudStack>
<br/>
<MudDivider/>
<br/>

<div>
@Body    
</div>


@code {
    
}