@page "/Pages/Lecture01/Assignment"

<h3>Assignment: create an animal store webpage</h3>

<ol>
    <li>index.html - homepage</li>
    <li>animals.html - images of animals</li>
    <li>contact-us.html - form page</li>
    <li>save.html - page displayed when the form data is "save"</li>
    <li>bonus: after landing on the save.html page, redirect to the homepage after x seconds.</li>
</ol>

@code {
    
}