@page "/Pages/Lecture01/Solution/Animals"
@using ReactCourseInBlazor.Layout.Lecture01
@layout AnimalStoreMainLayout
<h3>Animals</h3>

<MudGrid Spacing="10" Justify="Justify.Center">
    <MudItem xs="3">
        <MudCard>
            <MudCardMedia Image="assets/images/lecture01/animals/animals_01.png" Height="250" ></MudCardMedia>
            <MudCardContent>
                <MudText Typo="Typo.h5">Mark the Lion</MudText>
                <MudText Typo="Typo.body2"></MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Adopt</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="3">
        <MudCard>
            <MudCardMedia Image="assets/images/lecture01/animals/animals_01.png" Height="250" ></MudCardMedia>
            <MudCardContent>
                <MudText Typo="Typo.h5">Mark the Lion</MudText>
                <MudText Typo="Typo.body2"></MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Adopt</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    
        <MudItem xs="3">
            <MudCard>
                <MudCardMedia Image="assets/images/lecture01/animals/animals_01.png" Height="250" ></MudCardMedia>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Mark the Lion</MudText>
                    <MudText Typo="Typo.body2"></MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Adopt</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    
</MudGrid>

@code {
    
}